{% extends 'breakingbread/base.html' %}
{% load staticfiles %}
{% block body_block %}


<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/images/bg-img/breadcumb1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>What is the story behind Breaking Bread?</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5 class="sub-heading pb-5">We are a group of friends who enjoy good food (and good grades) and the story behind each recipe! We are exploring life through taste and we are willing to take y'all food trotters in our journey.</h5>

                <p class="text-center">You can choose from a range of recipes, try them, comment and rate them or upload a new recipe by yourself. What are you waiting for? You are already here, so why not take a chance?</p>
            </div>
        </div>

        <div class="row align-items-center mt-70">
            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="{% static 'images/core-img/salad.png' %}" alt="">
                    <h3><span class="counter">{{ nb_recipes }}</span></h3>
                    <h6>Amazing recipes</h6>
                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="{% static 'images/core-img/hamburger.png' %} " alt="">
                    <h3><span class="counter">{{ nb_burgers }}</span></h3>
                    <h6>Burger recipes</h6>
                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="{% static 'images/core-img/rib.png' %}" alt="">
                    <h3><span class="counter">{{ nb_meats }}</span></h3>
                    <h6>Meat recipes</h6>
                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="{% static 'images/core-img/pancake.png' %}" alt="">
                    <h3><span class="counter">{{ nb_vegans }}</span></h3>
                    <h6>Vegan recipes</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <img class="mb-70" src="{% static 'images/bg-img/about.png' %}" alt="">
                <p class="text-center">Leave us a message. We are here for you. Send us your thoughts! You are part of our family.</p>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="col-12 col-lg-6">
                                <input type="email" class="form-control" id="email" placeholder="E-mail">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit" disabled>Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Contact Area End ##### -->

{% endblock %}
