<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Breaking Bread - Cooking Simplified</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!--get the list of cuisines-->
    <script type="text/javascript">
    var res;
    function create_list(res){
        var ul_list = document.getElementById("cuisine");
        for(i=0;i<res.length;i++){
            var li = document.createElement("li");
            var a = document.createElement("a");
            a.href="";
            a.innerHTML=res[i];
            li.appendChild(a);
            ul_list.appendChild(li);
            
        }
        
    }
    function initialize(){
        var xhttp=new XMLHttpRequest();
        xhttp.onreadystatechange=function(){
            
            if(this.readyState==4 && this.status==200){
                res = JSON.parse(this.response) ;
                create_list(res[1]);
            }
            else{
                console.log(this.readyState);
                console.log(this.status);
            }
        };
        xhttp.open("GET","/breakingbread/cuisine",true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        
    }
    window.onload=initialize();
    </script>
    
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
    <i class="circle-preloader"></i>
    <img src="/static/images/core-img/salad.png" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    {% if logged_in %}
                                        <li><a href="#">Hello {{ username }}</a></li>
                                    {% else %}
                                        <li><a href="#">Hello YOU!</a></li>
                                    {% endif %}
                                    <li><a href="#">Find something DELICIOUS!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'breakingbread:index' %}"><img src="{% static 'images/core-img/bb_logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="{% url 'breakingbread:index' %}">Home</a></li>

                                    <li>
                                        <a href="#">Browse</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4" id="cuisine">
                                                <li class="title menu-selections">Cuisine</li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title menu-selections">Category</li>
                                                <li><a href="index.html">All</a></li>
                                                <li><a href="about.html">Vegetarian</a></li>
                                                <li><a href="blog-post.html">Vegan</a></li>
                                               <!-- <li><a href="receipe-post.html">Recipe Post</a></li>-->
                                                <!--<li><a href="contact.html">Contact</a></li>-->
                                                <!--<li><a href="elements.html">Elements</a></li>-->
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title menu-selections">Level</li>
                                                <li><a href="index.html">Beginner</a></li>
                                                <li><a href="about.html">Intermediate</a></li>
                                                <li><a href="blog-post.html">Expert</a></li>
                                                
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <div class="receipe-slider owl-carousel">
                                                    <a href="#"><img src="{% static 'images/bg-img/bg1.jpg' %}" alt=""></a>
                                                    <a href="#"><img src="{% static 'images/bg-img/bg6.jpg' %}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="{% url 'breakingbread:search' %}">Search</a></li>
                                    
                                    
                                    {% if logged_in %}
                                        <li><a href="{% url 'breakingbread:logout' %}">My Details</a></li>
                                        <li><a href="{% url 'breakingbread:logout' %}">Sign out</a></li>
                                    {% else %}
                                        <li><a href="{% url 'breakingbread:register' %}">Register</a></li>

                                        <li><a href="{% url 'breakingbread:login' %}">Log In</a></li>

                                     {% endif %}

                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>


                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->



     <div>
         {% block body_block %}
         {% endblock %}
     </div>
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="index.html"><img src="img/core-img/bb_logo.png" alt=""></a>
                    </div>
                    <!-- Copywrite -->
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>