{% extends 'breakingbread/base.html' %}
{% load staticfiles %}

{% block body_block %}
   
 <script src="{% static 'js/addons/rating.js' %}"></script>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/images/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <select name="select1" id="select1">
                                <option value="1">All Cuisines</option>
                                <option value="1">Scottish</option>
                                <option value="1">Indian</option>
                                <option value="1">Lebanese</option>
                                <option value="1">Egyptian</option>
                                <option value="1">Romanian</option>
                                <option value="1">Mauritian</option>
                                <option value="1">Italian</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <input type="search" name="search" placeholder="Search Recipes">
                        </div>
                        <div class="col-12 col-lg-3 text-right">
                            <button type="submit" class="btn delicious-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="/static/images/bg-img/bg5.jpg" alt="">
                        <img src="/static/images/bg-img/bg5.jpg" alt="">
                        <img src="/static/images/bg-img/bg5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>April 05, 2018</span>
                            <h2>Vegetarian cheese salad</h2>
                            <div class="receipe-duration">
                                <h6>Prep: 15 mins</h6>
                                <h6>Cook: 30 mins</h6>
                                <h6>Yields: 8 Servings</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="recipe-ratings text-right my-5">

<!--                                <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                {% if recipe.recipe_id.average_rating == 0 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 0.5 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-half" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 1 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 1.5 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-half" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 2 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 2.5 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-half" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 3 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 3.5 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star-half" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 4 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 4.5 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star-half" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% elif recipe.recipe_id.average_rating == 5 %}-->
<!--                                <div class="ratings">-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                {% endif %}-->
                            </div>
                            <a href="#" class="btn delicious-btn">For Beginners</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>01.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </div>
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>02.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </div>
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>03.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </div>
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>04.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </div>
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">4 Tbsp (57 gr) butter</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">2 large eggs</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">2 yogurt containers granulated sugar</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">1 vanilla or plain yogurt, 170g container</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">2 yogurt containers unbleached white flour</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6">1.5 yogurt containers milk</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7">1/4 tsp cinnamon</label>
                            </div>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck8">
                                <label class="custom-control-label" for="customCheck8">1 cup fresh blueberries </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-left">
                            <h3>Leave a Comment!</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form id="review_form" method="post" action="{% url 'breakingbread:recipe' %}">
                                <div class="row">
                                    <div class="col-12">
                                         {% csrf_token %}
                                         <input type = "text" name="message" id="message" class = "form-control" placeholder="Your comment" cols = "20" rows = "10"/>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" name="submit" value="Post Comment" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <h4>Rate this recipe!</h4>
                        </div>
                        <div>
                             <span class="rating_stars rating_0">
                                    <span class='s' data-low='0.5' data-high='1'><i class="fa fa-star-o"></i></span>
                                  <span class='s' data-low='1.5' data-high='2'><i class="fa fa-star-o"></i></span>
                                  <span class='s' data-low='2.5' data-high='3'><i class="fa fa-star-o"></i></span>
                                  <span class='s' data-low='3.5' data-high='4'><i class="fa fa-star-o"></i></span>
                                  <span class='s' data-low='4.5' data-high='5'><i class="fa fa-star-o"></i></span>

                                  <span class='r r0_5' data-rating='1' data-value='0.5'></span>
                                  <span class='r r1' data-rating='1' data-value='1'></span>
                                  <span class='r r1_5' data-rating='15' data-value='1.5'></span>
                                  <span class='r r2' data-rating='2' data-value='2'></span>
                                  <span class='r r2_5' data-rating='25' data-value='2.5'></span>
                                  <span class='r r3' data-rating='3' data-value='3'></span>
                                  <span class='r r3_5' data-rating='35' data-value='3.5'></span>
                                  <span class='r r4' data-rating='4' data-value='4'></span>
                                  <span class='r r4_5' data-rating='45' data-value='4.5'></span>
                                  <span class='r r5' data-rating='5' data-value='5'></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Follow Us on Instagram</h5>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta1.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta2.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta3.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta4.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta5.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta6.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'images/bg-img/insta7.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

{% endblock %}
