<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- This HTML page is used to file a report against a recipe or a comment-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Report</title>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <center>
    <h1>Report</h1>
    <br />
    <form method = "">
    <textarea name="message" class="form-control" id="message" cols="10" rows="10" placeholder="Message"></textarea>
    </br><br /><br />
    <button class="btn delicious-btn mt-30" disabled>Post</button>
    </form>
    </center>
</body>

