{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style type="text/css">
      body{
        margin-top:20px;
        background:#f8f8f8
      }

      img {
        border-radius: 50%;
      }

      h6 {
          text-align: center;
      }
	</style>
	
</head>
  <body>
    <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-auto mb-3" style="width: 240px;">
        <div class="card p-3">
          <div class="e-navlist e-navlist--active-bg">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link px-2 active" href="javascript:showDetails();"><i class="fa fa-fw fa-user mr-1"></i><span>Personal Details</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="../recipes/{{ user }}/"><i class="fa fa-fw fa-cutlery mr-1"></i><span>My recipes</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="javascript:uploadNewRecipe()"><i class="fa fa-fw fa fa-upload mr-1"></i><span>Upload new recipe</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="javascript:showMyReports();"><i class="fa fa-fw fa fa-bar-chart mr-1"></i><span>Reports</span></a></li>
            </ul>
          </div>
        </div>
        <div class="card mb-3">
            <!-- <img class="card-img-top" src="/static/images/core-img/bb_logo.png" alt="Card image cap"> -->
            <div class="card-body">
              <h6 class="card-title">Back to Breaking Bread!</h6>
              <div class="px-xl-3">
                <button class="btn btn-block btn-primary" onclick="navigateToHomePage()">
                  <i class="fa fa-home"></i>
                  <span>Home</span>
                </button>
              </div>
            </div>
          </div>
      </div>
      
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                            <img src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg" alt="User Details Background Image" height="140px" width="140px">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                        <p class="mb-0">@johnny.s</p>
                        <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                        <div class="mt-2">
                          <button class="btn btn-primary" type="file" onclick="openDialog()">
                            <i class="fa fa-fw fa-camera"></i>
                            <input id='fileid' type='file' hidden/>
                            <span>Change Photo</span>
                          </button>
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        <span class="badge badge-secondary">administrator</span>
                        <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="" class="active nav-link" id="formTitle">Personal Details</a></li>
                  </ul>
                  <div class="tab-content pt-3 info myDetails">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Full Name</label>
                                  <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>About</label>
                                  <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="tab-content pt-3 info uploadNew" style="display: none;">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Recipe Name</label>
                                  <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Cuisine:</label>
                                  <select class="form-control" id="sel1">
                                    <option>Indian</option>
                                    <option>Indian</option>
                                    <option>Indian</option>
                                    <option>Indian</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Category:</label>
                                  <select class="form-control" id="sel1">
                                    <option>Indian</option>
                                    <option>Indian</option>
                                    <option>Indian</option>
                                    <option>Indian</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Time Taken(min):</label>
                                  <input class="form-control" type="number" name="time_taken">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Type:</label>
                                  <select class="form-control" id="sel1">
                                    <option>Veg</option>
                                    <option>Veg</option>
                                    <option>Veg</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Level:</label>
                                  <select class="form-control" id="sel1">
                                    <option>Beginner</option>
                                    <option>intermediate</option>
                                    <option>Expert  </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Ingredients(separated by a comma):</label>
                                  <textarea class="form-control" rows="5" placeholder="Recipe Ingredients"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <div id="stepsRecipe">
                                    <label>Step 1:</label>
                                    <input class="form-control" type="text" name="steps[]"/>
                                    <!-- <label>Step 2:</label>
                                    <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith"> -->
                                  </div>
                                  <center style="padding: 15px;">
                                    <button class="btn btn-secondary" type="button" onclick="addAnotherStep()">Add another step</button> 
                                  </center>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <input type="file" name="filefield" id="fileElementId" name="files[]" multiple="multiple"  onchange="javascript:updateList()" />
                                  <p>Selected files:</p>
                                  <div id="fileList"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="button" onclick="saveRecipe()">Save Changes</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="tab-content pt-3 info myreports" style="display: none;">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Report</label>
                                  <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>About</label>
                                  <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3">
                <div class="card-body">
                  <div class="px-xl-3">
                    <button class="btn btn-block btn-secondary">
                      <i class="fa fa-sign-out"></i>
                      <span>Logout</span>
                    </button>
                  </div>
                </div>
              </div>
            
            <div class="card">
              <div class="card-body">
                <h6 class="card-title font-weight-bold">Support</h6>
                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                <button type="button" class="btn btn-primary">Contact Us</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src={% static 'js/userdetails.js' %}></script>
  </body>
</html>