{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Breaking Bread - Cooking Simplified</title>
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style type="text/css">
      body{
        margin-top:20px;
        background:#f8f8f8
      }

      /* .profilepic {
        border-radius: 50%;
      } */

      h6 {
          text-align: center;
      }
      .nav-brand img {
        max-width: 180px;
      }
     /* Preloader */
      #preloader {
        display: none;
        opacity: 0.7;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5000; 
      }
      #preloader img {
        width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10; 
      }
      #preloader .circle-preloader {
        display: block;
        width: 60px;
        height: 60px;
        border: 2px solid #ccc;
        border-bottom-color: #1c8314;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: spin 2s infinite linear;
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg); } }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg); } 
      }
    </style>
  
</head>
  <body>
    <div id="preloader">
      <i class="circle-preloader"></i>
      <img src="/static/images/core-img/salad.png" alt="">
    </div>
    <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-auto mb-3" style="width: 240px;">
        <div class="card p-3">
          <a class="nav-brand" href="{% url 'breakingbread:index' %}">
            <img src="{% static 'images/core-img/bb_logo.png' %}" alt="">
          </a>
          <div class="e-navlist e-navlist--active-bg">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link px-2 active" href="javascript:showDetails();"><i class="fa fa-fw fa-user mr-1"></i><span>Personal Details</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="../recipes/{{ user }}/"><i class="fa fa-fw fa-cutlery mr-1"></i><span>My recipes</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="javascript:uploadNewRecipe()"><i class="fa fa-fw fa fa-upload mr-1"></i><span>Upload new recipe</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="javascript:showMyReports();"><i class="fa fa-fw fa fa-bar-chart mr-1"></i><span>Reports</span></a></li>
            </ul>
          </div>
        </div>
        <div class="card mb-3">
            <!-- <img class="card-img-top" src="/static/images/core-img/bb_logo.png" alt="Card image cap"> -->
            <div class="card-body">
              <h6 class="card-title">Back to Breaking Bread!</h6>
              <div class="px-xl-3">
                <button class="btn btn-block btn-primary" onclick="navigateToHomePage()">
                  <i class="fa fa-home"></i>
                  <span>Home</span>
                </button>
              </div>
            </div>
          </div>
      </div>
      
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <form class="form-detail" method="post" action="{% url 'breakingbread:details' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12 col-sm-auto mb-3">
                        <div class="mx-auto" style="width: 140px;">
                          <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                              <img src="{{ MEDIA_URL }}{{ profile.picture }}" id="profilepic" class="profilepic" name="picture" height="140px" width="140px">
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                          <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ user.first_name }} {{user.last_name }}</h4>
                          <p class="mb-0">{{ user.username }}</p>
                          <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                          <div class="mt-2">
                            <button class="btn btn-primary" type="button" onclick="openDialog()">
                              <i class="fa fa-fw fa-camera"></i>
                              <input id='fileid' type='file' name="picture" onchange="readURL(event)" hidden/>
                              <span>Change Photo</span>
                            </button>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small>Joined on {{user.date_joined}}</small></div>
                        </div>
                      </div>
                    </div>
                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a href="" class="active nav-link" id="formTitle">Personal Details</a></li>
                    </ul>
                    <!-- My Info-->
                    <div class="tab-content pt-3 info myDetails">
                        <div class="tab-pane active">
                        <form class="form" novalidate="">
                          <div class="row">
                            <div class="col">
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Username</label>
                                    <input class="form-control" name="username" value="{{ user.username }}" type="text" placeholder="user@example.com" readonly>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Firstname</label>
                                    <input class="form-control" type="text" value="{{ user.first_name }}" name="firstname" placeholder="John Smith" value="John Smith">
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-group">
                                    <label>Lastname</label>
                                    <input class="form-control" type="text" name="lastname" value="{{ user.last_name }}" placeholder="johnny.s" value="johnny.s">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="text" value="{{ user.email }}" name="email"  placeholder="user@example.com">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" rows="5" name="address" placeholder="Address">{{ profile.address }}</textarea>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end">
                              <button class="btn btn-primary" type="submit">Update Profile</button>
                            </div>
                          </div>
                        </form>

                      </div>
                      </form>
                    </div>
                  </form>
                  {% if updateSuccess %}
                    <script>
                      $("#preloader").css("display", "block");
                      setTimeout(function(){ 
                        console.log('inside');
                        $("#preloader").css("display", "none");
                        swal("Profile Updated Successfully", "", "success")
                      }, 3000);
                    </script>
                  {% endif %}
                  <!-- Upload Recipe -->
                  <div class="tab-content pt-3 info uploadNew" style="display: none;">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Recipe Name</label>
                                  <input class="form-control" type="text" name="recipeName" id="recipeName">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Cuisine</label>
                                  <!-- <select class="form-control" id="sel1"> -->
                                    <!-- <input class="form-control" type="text" name="cuisine" id="cuisine" placeholder="e.g Italian"> -->
                                  <!-- </select> -->
                                  <select class="form-control" id="cuisine">
                                    <option>Italian</option>
                                    <option>Indian</option>
                                    <option>Egyptian</option>
                                    <option>Scottish</option>
                                    <option>Chinese</option>
                                    <option>Romanian</option>
                                    <option>Mauritian</option>
                                    <option>American</option>
                                    <option>Lebanese</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Category</label>
                                  <select class="form-control" id="category">
                                    <option>Indian</option>
                                    <option>Indian</option>
                                    <option>Indian</option>
                                    <option>Indian</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Time Taken(min)</label>
                                  <input class="form-control" type="number" min="1" id="time_taken" name="time_taken">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Type</label>
                                  <select class="form-control" id="type">
                                    <option>Non-vegeterian</option>
                                    <option>Vegeterian</option>
                                    <option>Vegan</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="sel1">Level</label>
                                  <select class="form-control" id="level">
                                    <option>Beginner</option>
                                    <option>Intermediate</option>
                                    <option>Expert</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Ingredients(separated by a comma)</label>
                                  <textarea class="form-control" id="ingredients" rows="5" placeholder="Recipe Ingredients"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <div id="stepsRecipe">
                                    <label>Step 1</label>
                                    <input class="form-control" type="text" name="steps[]"/>
                                    <!-- <label>Step 2:</label>
                                    <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith"> -->
                                  </div>
                                  <center style="padding: 15px;">
                                    <button class="btn btn-secondary" type="button" onclick="addAnotherStep()">Add another step</button> 
                                  </center>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <p>Upload Recipe Pictures</p>
                                  <input type="file" name="filefield" id="fileElementId" name="files[]" multiple="multiple"  onchange="javascript:addPictures()" />
                                  <div id="fileList"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="button" onclick="saveRecipe()">Upload Recipe</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="tab-content pt-3 info myreports" style="display: none;">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Report</label>
                                  <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>About</label>
                                  <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3">
                <div class="card-body">
                  <div class="px-xl-3">
                    <form action="{% url 'breakingbread:logout' %}" method="get">
                      <button class="btn btn-block btn-secondary" type="submit">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            
            <div class="card">
              <div class="card-body">
                <h6 class="card-title font-weight-bold">Support</h6>
                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                <button type="button" class="btn btn-primary">Contact Us</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
    <script src={% static 'js/userdetails.js' %}></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>